CONFIG_PCI_P2PDMA=y
CONFIG_GENERIC_ALLOCATOR=y
CONFIG_TRACEPOINTS=y
CONFIG_DMABUF_HEAPS=y
CONFIG_UDMABUF=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_EXPERT=y
CONFIG_MEMFD_CREATE=y
CONFIG_NET=y
CONFIG_BPF_SYSCALL=y
CONFIG_PAGE_POOL=y
CONFIG_PAGE_POOL_STATS=y
CONFIG_NETDEVICES=y
CONFIG_NET_VENDOR_GOOGLE=y
CONFIG_ETHERNET=y
CONFIG_GENERIC_MSI_IRQ=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_SYSFS=n
CONFIG_GVE=y
CONFIG_VETH=y
CONFIG_X86_MCE=y
